# Manual de python W3-School

### Funcion type para saber el tipo de dato

In [2]:
x = 5
print(type(x)) #Ver el tipo de dato.

<class 'int'>

In [3]:
x = "Hello World"
print(type(x))#Ver el tipo de dato.

<class 'str'>

In [4]:
x = 20.5
print(type(x))#Ver el tipo de dato.

<class 'float'>

In [5]:
x = ["apple", "banana", "cherry"]
print(type(x))#Ver el tipo de dato.

<class 'list'>

In [6]:
x = ("apple",)
print(type(x))#Ver el tipo de dato.

<class 'tuple'>

In [7]:
x = {"name" : "John", "age" : 36}
print(type(x))

<class 'dict'>

In [8]:
x = True
print(type(x))#Ver el tipo de dato.

<class 'bool'>

In [9]:
x = 5
x =float(x)
print(type(x))#Ver el tipo de dato.

<class 'float'>

In [10]:
x = 5.5
x = int(x)
print(type(x))#Ver el tipo de dato.

<class 'int'>

###  Usuamos la funcion len() para saber el numero de caracteres de una variable

In [11]:
x = "Hello World"
print(len(x))#Ver el numero de caracteres de a variable

11

### Formas de acceder a los caracteres de una varaiable

In [12]:
txt = "Hello World"
x =txt[0] # Acceder a una posicion de la varibale (recordar que empezamos a contar desde 0)
print(x)

H

In [13]:
txt = "Hello World"
x = txt[2:5]# Acceder a una posicion de la varibale (desde-hasta )
print(x)

llo

### Metodo strip(), upper(), lower() and remplace()

In [14]:
txt = " Hello World "
x = txt.strip() # La funcion strip() quita los espacios al inicio y al final 
print(x)

Hello World

In [15]:
txt = "Hello World"
x = txt.upper() #La funcion upper() hace que todos los caracteres se conviertan en mayusculas 
print(x)

HELLO WORLD

In [16]:
txt = "Hello World"
txt = txt.lower() #La funcion upper() hace que todos los caracteres se conviertan en minusculas 
print(txt)

hello world

In [17]:
txt = "Hello World"
txt = txt.replace("H","J")
print(txt)

Jello World

In [18]:
age = 36
height = 1.75
txt = "I am {1}, and my height is {0}" #Entre las llaves podemos poner el orden 
print(txt.format(age,height))

I am 1.75, and my height is 36

### Operadores Logicos 
<img src=''>

In [19]:
print(10 > 9) # Operador mayor que -> Devuelve un True
print(10 == 9) # Operador igual ->Devuelve un False

True
False

In [20]:
print(bool("abc"))

True

### Operadores de multiplicacion y division

In [21]:
print(10 * 5) #Multiplcacion

50

In [22]:
print(10 / 2) #Division NOTA devuelve un  numero decimal

5.0

### If en python

In [23]:
fruits = ["apple", "banana"]
if "apple" in fruits:
  print("Yes, apple is a fruit!")

Yes, apple is a fruit!

In [24]:
if 5 != 10: #Operador diferente de
  print("5 and 10 is not equal")

5 and 10 is not equal

In [25]:
if 5 == 10 or 4 == 4: #Operador or para ver si se cumplen una de las dos condiciones
  print("At least one of the statements is true")

At least one of the statements is true

### Listas en python

In [26]:
#Listas
#Imprimir el seguno item
fruits = ["apple", "banana", "cherry"]
print(fruits[2])

#Cambiar valor de apple por kiwi
fruits[0] = "kiwi"
print(fruits)

#Agregar un item al final de la lista
fruits.append("orange")
print(fruits)


#Agregar un item en una posicion especifica
fruits.insert(1, "lemon")
print(fruits)

#Eliminar un item 
fruits.remove("banana")
print(fruits)

#Imprimir ultimo item
print(fruits[-1])

# Imprimir un rango de items de la lista
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(fruits[2:5])

# Imprimir el numero toal de items de la lista
print(len(fruits))

cherry
['kiwi', 'banana', 'cherry']
['kiwi', 'banana', 'cherry', 'orange']
['kiwi', 'lemon', 'banana', 'cherry', 'orange']
['kiwi', 'lemon', 'cherry', 'orange']
orange
['cherry', 'orange', 'kiwi']
7

### Tuplas 
Una caracterisita  importante de las tuplas en python es que son inmutables es decir no pueden cambiar

In [27]:
# Tuplas
# Imprimir el primer item de la lista
fruits = ("apple", "banana", "cherry")
print(fruits[0])

#Imprimir el numero de elemtos de la tupla
fruits = ("apple", "banana", "cherry")
print(len(fruits))

#Imprimir el ultmo elemento de la tupla
fruits = ("apple", "banana", "cherry")
print(fruits[-1])

#Imprimir un rango de  elemento de la tupla
fruits = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(fruits[2:5])

#Buscar si un elemneto esta en la tupla
fruits = {"apple", "banana", "cherry"}
if "apple"in fruits:
    print("Yes, apple is a fruit!")
    
#Agregra un item en una tupla
fruits = {"apple", "banana", "cherry"}
fruits.add("orange")
print(fruits)

# Agregar varios elementos a la tupla
fruits = {"apple", "banana", "cherry"}
more_fruits = ["orange", "mango", "grapes"]
fruits.update(more_fruits)
print(fruits)

# Remover un elemento
fruits = {"apple", "banana", "cherry"}
fruits.remove("banana")
print(fruits)

# Remover un elemento
fruits = {"apple", "banana", "cherry"}
fruits.discard("banana") #discard solo remueve temporalmente

apple
3
cherry
('cherry', 'orange', 'kiwi')
Yes, apple is a fruit!
{'cherry', 'apple', 'banana', 'orange'}
{'mango', 'grapes', 'apple', 'banana', 'orange', 'cherry'}
{'cherry', 'apple'}

### Diccionarios
Los diccionarios nos permiten identificar un elemento por clave valor

In [28]:
#Diccionarios
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(car.get("model")) #Imprimir el valor de la key = model


#Cabiamos el valor de llave year
car['year']=2020
print(car["year"])

# Agregamos un nuevo clave valor al diccionario car
car["color"]="red"
print(car)

#Remover una key
car.pop("model")
print(car)

#Limpiar el diccionario
car.clear()
print(car)

Mustang
2020
{'brand': 'Ford', 'model': 'Mustang', 'year': 2020, 'color': 'red'}
{'brand': 'Ford', 'year': 2020, 'color': 'red'}
{}

### Condiciones de Python y declaraciones If
Pytho soporta las condiones matematicas habituales por ejemplo:<br>
<ul>
<li>Igua</li>
<li>Difente de </li>
<li>Mayor que </li>
<li>Menor que </li>
<li>Mayor o igual que </li>
<li>Menor o igual  que </li>
</ul>

In [29]:
# Python if ..  else
#Condicional if
a = 50
b = 10
c = 20
d = 30
if a > b:  # mayor que 
  print("Hello World")

if a != b: #Diferente de 
  print("Hello World")

# If and else
if a == b: # si es unicamente igual 
  print("Yes")
else:
  print("No")


if a == b: #Si unciamente es igual
  print("1")
elif a > b:#Si es mayor 
  print("2")
else: #caso contrario
  print("3")

#If con multiples codiciones usando and (Todas las condiciones deben cumplirse para ser verdadero) 
if a == b and c == d: 
  print("Hello")


#If con multiples codiciones usando or (Al menos una condicion debe cumplirse para ser verdadero ) 
if a == b or c == d:
  print("Hello")

#Escribiir un if..else en una sola linea
print("Yes") if 5 > 2 else print("No")

Hello World
Hello World
No
2
Yes

### While
Con While podemos ejecutar un conjunto de instrccion mientras la condicion sea verdadera

In [30]:
# Python While Loops
i = 1
while i < 6:  #Imprime i mientas  sea menor que 6
  print(i)
  i += 1

1
2
3
4
5

In [31]:
i = 1
while i < 6:
  if i == 3: #si el i es igual a 3  deten el bucle 
    print(i)
    break
  i += 1

3

In [32]:
i = 0
while i < 6:
  i += 1
  if i == 3: #nota el numero 3 no aparce en el resultado
    print("Aqui iba 3")
    continue
  print(i)

1
2
Aqui iba 3
4
5
6

In [33]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
    print(i) #Entra a falso ya que 1 despues del bucle tiene el valor de 6 por ende no cumple la condicion
    print("i is no longer less than 6")

1
2
3
4
5
6
i is no longer less than 6

### For 
Con el bucle for podemos ejecutar un conjunto de declaraciones, una vez para cada elemento de una lista, tupla, conjunto, etc.

In [34]:
# Python For Loops
fruits = ["apple", "banana", "cherry"]
for x in fruits: # Recorrer una lista con for 
    print(x)

apple
banana
cherry

In [35]:
fruits = ["apple", "banana", "cherry"]
for x in fruits: #For para recorres la lista 
    if x == "banana": 
        print('Aqui estaria '+ x)
        continue
    print(x)

apple
Aqui estaria banana
cherry

In [36]:
for x in range(6): #Crea una secuencia de numeros 
    print(x)

0
1
2
3
4
5

In [37]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana": #Saimos del bucle cuando x =m banana
    break
  print(x)

apple

### Funciones
Una funcion es un bloque de codigo el cual solo se ejecuta cuando es llamado, una funcion retorna data como resultado

In [38]:
# Funciones en python 
def my_function(): # Declaramos una funcnion 
    print("Hello from a function")
my_function() #Ejecutamos la funcion

Hello from a function

In [39]:
def my_function(fname, lname): #Funcion con parametros  
    print(fname)
my_function('Alexander','asdasd')

Alexander

In [40]:
def my_function(x):
    return x + 5 #Retorno de la funcion 
my_function(5)

10

In [41]:
def my_function(*kids): #Usuamos el prefijo * cuando no sabemos cuantos parmetros pasarna  al funcion
    print("The youngest child is " + kids[2])
my_function("Alexander",'Patricio','Mejia')

The youngest child is Mejia

In [42]:
# Declaramos un diccionario 
alex = {
  "name": "Alexander",
  "lastname": "Mejia",
  "age": 22
}

def my_function(**alex): #Usamo el prefijo ** cunado no sabemos el numero de keyword (argumentos) que no pasaran a nuestra funcion
  print("His last name is " + alex["name"])

my_function(**alex)#Usamo el prefijo ** cunado no sabemos el numero de keyword (argumentos) que no pasaran a nuestra funcion

His last name is Alexander

### Funcion Lambda
Una funcion lambda es una funcion anonima ya que no tiene nombre

In [43]:

#Funciones Lambda => son funciones anonimas por que se defines sin un nombre 
a=5
x = lambda a : a #Sintaxois lambda argumentos : expresion
x(5)

5

### Clases y Objetos 
Python es un lenguaje de programcion orientado a objetos, casi como en python es un objeto

In [44]:
#Clases en Python

class MyClass: #Creaamos una clase
    x = 5
p1= MyClass() #Creando un objeto de MyClass

print(p1.x) #Imprimimos el vlaor de x mediante el objeto p1

5

In [45]:
class Person:
    def __init__(self, name, age): #Usamos la funcion init para inicializar valores, es similar a un  contrucctor en otros lenguajes
        self.name = name
        self.age = age
        
        
#A la clase Student hereda todos las propiedades y metodos de la clase My class
#Similar a un extend en otros lenguajes
class Student(Person):
    x=5

### Modulos 
Llamamos modulos  alas distintas librerias de python.
Un modulo contiene un conjunto de funciones que deseamos incluir en nuestra aplicaci√≥n.

In [46]:
#Modulos de python 

import matplotlib #Asi importamos un modulo
import matplotlib as mx #Usamos as para crear un alias del modulo  y asi poder tranajar con ese alias
print(dir(mx)) #Asi imprimiriamos  todas las variables y nombres de funciones del modulo ('My module')

['LooseVersion', 'MatplotlibDeprecationWarning', 'MutableMapping', 'Parameter', 'Path', 'RcParams', 'URL_REGEX', '_DATA_DOC_APPENDIX', '_DATA_DOC_TITLE', '_ExecInfo', '__bibtex__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '__version__', '_add_data_doc', '_all_deprecated', '_check_versions', '_color_data', '_create_tmp_config_or_cache_dir', '_deprecated_ignore_map', '_deprecated_map', '_deprecated_remain_as_none', '_ensure_handler', '_error_details_fmt', '_get_config_or_cache_dir', '_get_data_path', '_get_executable_info', '_get_xdg_cache_dir', '_get_xdg_config_dir', '_init_tests', '_label_from_arg', '_log', '_logged_cached', '_open_file_or_url', '_preprocess_data', '_rc_params_in_file', '_replacer', '_version', 'atexit', 'cbook', 'checkdep_dvipng', 'checkdep_ghostscript', 'checkdep_inkscape', 'checkdep_pdftops', 'checkdep_ps_distiller', 'checkdep_usetex', 'colors', 'compare_versions', 'contextlib', 'cycler', 'dedent', 'defaultParams', 'default_test_modules', 'fontconfig_pattern', 'ft2font', 'functools', 'get_backend', 'get_cachedir', 'get_configdir', 'get_data_path', 'get_home', 'get_label', 'get_py2exe_datafiles', 'importlib', 'inspect', 'interactive', 'is_interactive', 'is_url', 'locale', 'logging', 'matplotlib_fname', 'mplDeprecation', 'namedtuple', 'numpy', 'os', 'pprint', 'rc', 'rcParams', 'rcParamsDefault', 'rcParamsOrig', 'rc_context', 'rc_file', 'rc_file_defaults', 'rc_params', 'rc_params_from_file', 'rcdefaults', 'rcsetup', 're', 'sanitize_sequence', 'set_loglevel', 'shutil', 'subprocess', 'sys', 'tempfile', 'test', 'tk_window_focus', 'use', 'validate_backend']