In [1]:
x = 5
print(type(x)) #Ver el tipo de dato.

<class 'int'>

In [2]:
x = "Hello World"
print(type(x))#Ver el tipo de dato.

<class 'str'>

In [3]:
x = 20.5
print(type(x))#Ver el tipo de dato.

<class 'float'>

In [4]:
x = ["apple", "banana", "cherry"]
print(type(x))#Ver el tipo de dato.

<class 'list'>

In [6]:
x = ("apple",)
print(type(x))#Ver el tipo de dato.

<class 'tuple'>

In [7]:
x = {"name" : "John", "age" : 36}
print(type(x))

<class 'dict'>

In [8]:
x = True
print(type(x))#Ver el tipo de dato.

<class 'bool'>

In [13]:
x = 5
x =float(x)
print(type(x))#Ver el tipo de dato.

<class 'float'>

In [14]:
x = 5.5
x = int(x)
print(type(x))#Ver el tipo de dato.

<class 'int'>

In [15]:
x = "Hello World"
print(len(x))#Ver el tipo de dato.

11

In [18]:
txt = "Hello World"
x =txt[0] # Acceder a una posicion de la varibale (recordar que empezamos a contar desde 0)
print(x)

H

In [19]:
txt = "Hello World"
x = txt[2:5]# Acceder a una posicion de la varibale (desde-hasta )
print(x)

llo

In [20]:
txt = " Hello World "
x = txt.strip() # La funcion strip() quita los espacios al inicio y al final 
print(x)

Hello World

In [22]:
txt = "Hello World"
x = txt.upper() #La funcion upper() hace que todos los caracteres se conviertan en mayusculas 
print(x)

HELLO WORLD

In [1]:
txt = "Hello World"
txt = txt.lower() #La funcion upper() hace que todos los caracteres se conviertan en minusculas 
print(txt)

hello world

In [24]:
txt = "Hello World"
txt = txt.replace("H","J")
print(txt)

Jello World

In [6]:
age = 36
height = 1.75
txt = "I am {1}, and my height is {0}" #Entre las llaves podemos poner el orden 
print(txt.format(age,height))

I am 1.75, and my height is 36

In [30]:
print(10 > 9) # Operador mayor que -> Devuelve un True
print(10 == 9) # Operador igual ->Devuelve un False

True
False

In [ ]:
print(10 == 9) 
print(bool("abc"))

In [31]:
print(10 * 5) #Multiplcacion

50

In [32]:
print(10 / 2) #Division

5.0

In [33]:
fruits = ["apple", "banana"]
if "apple" in fruits:
  print("Yes, apple is a fruit!")

Yes, apple is a fruit!

In [ ]:
if 5 != 10: #Operador diferente de
  print("5 and 10 is not equal")

In [ ]:
if 5 == 10 or 4 == 4: #Operador or para ver si se cumplen una de las dos condiciones
  print("At least one of the statements is true")

In [34]:
#Listas
#Imprimir el seguno item
fruits = ["apple", "banana", "cherry"]
print(fruits[2])

cherry

In [37]:
#Cambiar valor de apple por kiwi
fruits = ["apple", "banana", "cherry"]
fruits[0] = "kiwi"
print(fruits)

['kiwi', 'banana', 'cherry']

In [38]:
#Agregar un item al final de la lista
fruits = ["apple", "banana", "cherry"]
fruits.append("orange")
print(fruits)

['apple', 'banana', 'cherry', 'orange']

In [39]:
#Agregar un item en una posicion especifica
fruits = ["apple", "banana", "cherry"]
fruits.insert(1, "lemon")
print(fruits)

['apple', 'lemon', 'banana', 'cherry']

In [40]:
#Eliminar un item 
fruits = ["apple", "banana", "cherry"]
fruits.remove("banana")
print(fruits)

['apple', 'cherry']

In [44]:
#Imprimir ultimo item
fruits = ["apple", "banana", "cherry"]
print(fruits[-1])

cherry

In [45]:
# Imprimir un rango de items de la lista
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(fruits[2:5])

['cherry', 'orange', 'kiwi']

In [46]:
# Imprimir el numero toal de items de la lista
fruits = ["apple", "banana", "cherry"]
print(len(fruits))

3

In [55]:
# Tuplas
# Imprimir el primer item de la lista
fruits = ("apple", "banana", "cherry")
print(fruits[0])

#Imprimir el numero de elemtos de la tupla
fruits = ("apple", "banana", "cherry")
print(len(fruits))

#Imprimir el ultmo elemento de la tupla
fruits = ("apple", "banana", "cherry")
print(fruits[-1])

#Imprimir un rango de  elemento de la tupla
fruits = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(fruits[2:5])

#Buscar si un elemneto esta en la tupla
fruits = {"apple", "banana", "cherry"}
if "apple"in fruits:
    print("Yes, apple is a fruit!")
    
#Agregra un item en una tupla
fruits = {"apple", "banana", "cherry"}
fruits.add("orange")
print(fruits)

# Agregar varios elementos a la tupla
fruits = {"apple", "banana", "cherry"}
more_fruits = ["orange", "mango", "grapes"]
fruits.update(more_fruits)
print(fruits)

# Remover un elemento
fruits = {"apple", "banana", "cherry"}
fruits.remove("banana")
print(fruits)

# Remover un elemento
fruits = {"apple", "banana", "cherry"}
fruits.discard("banana") #discard solo remueve temporalmente

apple
3
cherry
('cherry', 'orange', 'kiwi')
Yes, apple is a fruit!
{'banana', 'apple', 'orange', 'cherry'}
{'orange', 'banana', 'cherry', 'mango', 'apple', 'grapes'}
{'apple', 'cherry'}

In [73]:
#Diccionarios
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(car.get("model")) #Imprimir el valor de la key = model


#Cabiamos el valor de llave year
car['year']=2020
print(car["year"])

# Agregamos un nuevo clave valor al diccionario car
car["color"]="red"
print(car)

#Remover una key
car.pop("model")
print(car)

#Limpiar el diccionario
car.clear()
print(car)

Mustang
2020
{'brand': 'Ford', 'model': 'Mustang', 'year': 2020, 'color': 'red'}
{'brand': 'Ford', 'year': 2020, 'color': 'red'}
{}

In [79]:
# Python if ..  else
#Condicional if
a = 50
b = 10
c = 20
d = 30
if a > b:  # mayor que 
  print("Hello World")

if a != b: #Diferente de 
  print("Hello World")

# If and else
if a == b: # si es unicamente igual 
  print("Yes")
else:
  print("No")


if a == b: #Si unciamente es igual
  print("1")
elif a > b:#Si es mayor 
  print("2")
else: #caso contrario
  print("3")

#If con multiples codiciones usando and (Todas las condiciones deben cumplirse para ser verdadero) 
if a == b and c == d: 
  print("Hello")


#If con multiples codiciones usando or (Al menos una condicion debe cumplirse para ser verdadero ) 
if a == b or c == d:
  print("Hello")

#Escribiir un if..else en una sola linea
print("Yes") if 5 > 2 else print("No")

Hello World
Hello World
No
2
Yes